<div class="aristilia chat-card skill {{outcome}}">
  <header class="card-header">
    <h3>{{label}}</h3>
  </header>
  <div class="card-roll">
    <div class="dice-total">{{total}} <span class="vs">≤ {{skill}}%</span></div>
  </div>
  <div class="card-outcome outcome-{{outcome}}">{{outcomeLabel}}</div>
</div>
