<div class="aristilia chat-card spell-card">
  <div class="card-header">
    <i class="fas fa-hat-wizard"></i>
    <h3>{{item.name}}</h3>
  </div>
  <div class="card-detail">
    {{#if schoolLabel}}<span class="badge">{{schoolLabel}}</span>{{/if}}
    {{#if system.branch}}<span class="badge branch">{{system.branch}}</span>{{/if}}
    <span class="badge lvl">{{localize 'ARISTILIA.Spell.level'}} {{system.level}}</span>
  </div>
  <div class="card-content">{{{enriched}}}</div>
</div>
